/*Reset default browser styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Body styling*/
body {
  font-family: Arial, sans-serif;
  background-color: rgb(11, 15, 26);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*==========SPLASH SCREEN========*/
#splash {
  position: absolute;
  text-align: center;
}

/*Title*/
#splash h1 {
  font-size: 50px;
  color: rgb(0, 255, 204);
  animation: glow 1500ms infinite alternate;
}

/*Subtitle*/
#splash p {
  margin-top: 10px;
  font-size: 20px;
  color: rgb(170, 170, 17);
}

/*Glow animation*/
@keyframes glow {
  from {
    text-shadow: 0 0 10 rgb(0, 255, 204);
  }
  to {
    text-shadow: 0 0 30 rgb(0, 255, 204);
  }
}

/*=========GAME AREA=========*/
#game {
  text-align: center;
}

/*Title*/
#game h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

/*Multiplier*/
#multiplier {
  font-size: 60px;
  font-weight: bold;
  color: rgb(0, 255, 204);
  margin: 30px 0px;
}

/*Buttons container*/
#game div {
  margin-top: 20px;
}

/*Buttons*/
button {
  padding: 15px 25px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(31, 143, 46);
  color: white;
  transition: 300ms;
}

/*Hover*/
button:hover {
  background-color: rgb(40, 200, 64);
}

/*Cash out button*/
button:nth-child(2) {
  background-color: rgb(192, 57, 43);
}

button:nth-child(2):hover {
  background-color: rgb(231, 76, 60);
}

/*input*/
input {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

#betMessage {
  margin-top: 10px;
  font-size: 16px;
  color: rgb(231, 76, 60);
}

.input-error {
  border: 2px solid rgb(231, 76, 60);
}

#graphCanvas {
  background-color: rgb(20, 25, 40);
  border-radius: 10px;
  margin-top: 20px;
}